.textContainer {
    display: flex;
    flex-direction: column;
    margin-left: 500px;
    margin-top: -300px;
    color: white;
    justify-content: start;
    height: 60%;
}

.activeContainer {
    display: flex;
    align-items: center;
}

.activeItem {
    display: flex;
    align-items: center;
}

.activeContainer img {
    padding-left: 10px;
}

.textContainer h1 {
    margin-bottom: 0px;
}

@media (min-width: 320px) and (max-width: 1200px) {
    .textContainer {
        display: none;
    }
}